<div x-data="{ open: false }" class="relative flex items-center">

    <!-- All Dropdown Button -->
    <button @click="open = !open"
            class="cursor-pointer flex items-center gap-1 px-2 py-1.5 text-sm font-medium bg-yellow-400 text-black rounded-l-md hover:bg-yellow-300 focus:outline-none transition-all">
        <!-- Menu icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
        <span>All</span>
        <!-- Chevron icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 9l-7 7-7-7"/>
        </svg>
    </button>

    <!-- Dropdown Menu -->
    <div x-show="open" @click.away="open = false"
         class="absolute left-0 top-full mt-1 w-48 bg-zinc-800/70 text-yellow-50 rounded-md shadow-lg z-50 border border-gray-700"
         x-transition>
        <a href="{{ path('band_list') }}"
        class="group flex items-center block px-4 py-2 text-sm font-semibold hover:bg-yellow-400 hover:text-black transition">
            <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-5 w-5 mr-2 text-yellow-400 group-hover:text-black transition">
                <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
                <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
            </svg>
            Bands
        </a>
        <a href="{{ path('musician_list') }}" class="group flex items-center block px-4 py-2 text-sm font-semibold hover:bg-yellow-400 hover:text-black transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5 mr-2 text-yellow-400 group-hover:text-black transition">
                <path d="M8.25 4.5a3.75 3.75 0 1 1 7.5 0v8.25a3.75 3.75 0 1 1-7.5 0V4.5Z" />
                <path d="M6 10.5a.75.75 0 0 1 .75.75v1.5a5.25 5.25 0 1 0 10.5 0v-1.5a.75.75 0 0 1 1.5 0v1.5a6.751 6.751 0 0 1-6 6.709v2.291h3a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1 0-1.5h3v-2.291a6.751 6.751 0 0 1-6-6.709v-1.5A.75.75 0 0 1 6 10.5Z" />
            </svg>
            Musicians
        </a>
        <a href="{{ path('album_list') }}" class="group flex items-center block px-4 py-2 text-sm font-semibold hover:bg-yellow-400 hover:text-black transition">
            <svg class="h-5 w-5 mr-2 text-yellow-400 group-hover:text-black transition" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="8" />
                <circle cx="12" cy="12" r="3" />
            </svg>
            Albums
        </a>
        <a href="{{ path('song_list') }}" class="group flex items-center block px-4 py-2 text-sm font-semibold hover:bg-yellow-400 hover:text-black transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5 mr-2 text-yellow-400 group-hover:text-black transition">
                <path fill-rule="evenodd" d="M19.952 1.651a.75.75 0 0 1 .298.599V16.303a3 3 0 0 1-2.176 2.884l-1.32.377a2.553 2.553 0 1 1-1.403-4.909l2.311-.66a1.5 1.5 0 0 0 1.088-1.442V6.994l-9 2.572v9.737a3 3 0 0 1-2.176 2.884l-1.32.377a2.553 2.553 0 1 1-1.402-4.909l2.31-.66a1.5 1.5 0 0 0 1.088-1.442V5.25a.75.75 0 0 1 .544-.721l10.5-3a.75.75 0 0 1 .658.122Z" clip-rule="evenodd" />
            </svg>
            Songs
        </a>
        <a href="{{ path('reviews_list') }}" class="group flex items-center block px-4 py-2 text-sm font-semibold hover:bg-yellow-400 hover:text-black transition">
            <svg class="h-5 w-5 mr-2 text-yellow-400 group-hover:text-black transition" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h6m-2 8 4-4H5a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H9l-2 2z"/>
            </svg>
            Reviews
        </a>
    </div>

    <!-- Search Form -->
    <form action="{{ path('homepage') }}" method="get" class="relative">
        <input type="text"
               name="q"
               placeholder="Search Bandito..."
               class="w-130 px-4 py-1.5 text-sm bg-zinc-800/70 text-yellow-50 placeholder-gray-400 border border-gray-700 rounded-r-md focus:outline-none focus:ring-1 focus:ring-yellow-500/60 focus:border-yellow-400 transition-all" />

        <!-- Search icon inside input -->
        <button type="submit" class="cursor-pointer rounded-xl absolute right-2 top-1/2 -translate-y-1/2 text-yellow-400 hover:text-yellow-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 21l-4.35-4.35M17 11a6 6 0 11-12 0 6 6 0 0112 0z"/>
            </svg>
        </button>
    </form>
</div>