<div x-data="{ open: false }" class="relative inline-block text-left">
	<button @click="open = !open" class="px-3 py-1 cursor-pointer flex items-center space-x-2 custom-shadow text-yellow-50 rounded-xl hover:text-yellow-400">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6 text-yellow-400">
			<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
		</svg>
		<span>{{ app.user.username }}</span>
		<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
		</svg>
	</button>

	<div
		x-show="open"
		@click.away="open = false"
		x-transition
		class="mt-6 absolute right-0 w-56 bg-black/70 text-yellow-50 rounded-lg z-50"
	>
		<a href="{{ path('app_profile', { id: app.user.id, slug: app.user.slug }) }}" class="w-full custom-shadow text-left px-4 py-2 hover:text-yellow-400 hover:bg-yellow-600/10 flex items-center gap-1">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6 text-yellow-400">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
			</svg>
			Your profile
		</a>

		<a href="{{ path('user_settings') }}" class="w-full custom-shadow text-left px-4 py-2 hover:text-yellow-400 hover:bg-yellow-600/10 flex items-center gap-1">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-yellow-400">
				<path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" />
			</svg>
			Account Settings
		</a>

		{% if app.user and is_granted('ROLE_ADMIN') %}
			<a href="{{ path('admin_user_index') }}" class="w-full custom-shadow text-left px-4 py-2 hover:text-yellow-400 hover:bg-yellow-600/10 flex items-center gap-1">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6 text-yellow-400">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
				</svg>
				Users Management
			</a>
		{% endif %}

		<form method="post" action="{{ path('app_logout') }}">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
			<button class="cursor-pointer custom-shadow w-full text-left px-4 py-2 hover:bg-yellow-600/10 hover:text-yellow-400 flex items-center gap-1">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6 text-yellow-400">
					<path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9" />
				</svg>
				Sign out
			</button>
		</form>
	</div>
</div>
